html {
	line-height: 1.5;
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.row::before, .row::after {
	display: table;
	content: " ";
	clear: both;
}

.navbar-fixed {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
	margin-bottom: 20px;
	z-index: 999;
}

.navbar-fixed nav {
	position: fixed;
}

nav .nav-wrapper {
	position: relative;
	height: 100%;
}

nav {
	color: #fff;
	background-color: #81C784;
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	cursor: pointer;
	padding: 0;
}

nav ul a {
	color: #fff;
	padding: 0 15px;
	display: block;
	text-decoration: none;
	height: 100%;
	cursor: pointer;
}

nav ul li:hover, .active {
	background-color: rgba(0, 0, 0, 0.1);
}

.side-nav li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.side-nav {
	box-shadow: 0 2px 2px 0;
	position: fixed;
	width: 300px;
	left: 0;
	top: 4.5rem;
	margin: 0;
	height: 100%;
}

.side-nav li {
	float: none;
	list-style-type: none;
	padding: 0 32px;
	line-height: 44px;
}

.brand-logo {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.0rem;
	padding: 0;
	white-space: nowrap;
	margin-left: 1em;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	margin-top: 50px;
	max-width: 1080px;
	width: 85%;
}

main.container {
	margin-top: 4.5rem;
}

.container .row {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.row .col {
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}

.row .col.s3 {
	width: 25%;
}

.row .col.s4 {
	width: calc(100% / 3);
}

.row .col.s6 {
	width: 50%;
}

.row .col.s8 {
	width: calc(200% / 3);
}

.row .col.s9 {
	width: 75%;
}

.row .col.s12 {
	width: 100%;
}

.card {
	position: relative;
	margin: 1rem 0 1rem 0;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.card-title {
	font-size: 2rem;
	font-weight: 300;
}

.card .card-content .card-title {
	display: block;
	line-height: 3rem;
	margin-bottom: 1rem;
}

.card .card-content {
	padding: 2rem;
}

.card .card-action {
	position: relative;
	background-color: inherit;
	border-top: 1px solid #ddd;
	padding: 1rem 2rem;
}

.card .card-action a {
	color: #ffab40;
	margin-right: 2rem;
}

.card .card-action a:hover {
	color: #ffd8a6;
}

.card .card-action .right {
	margin-right: 0;
}

.product-card {
	height: 400px;
}

.product-image-holder {
	display:flex;
	justify-content:center;
	align-items:center;

	width: 100%;
	height: 50%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.10);
}

.product-card .card-content {
	height: 40%;
	overflow: hidden;
}

.product-card .product-image-holder img {
	padding: 1px;
	max-height: 100%;
	width: 100%;
}

.product-card .card-content {
	margin: 0;
	padding: .5rem;
}

.product-card .card-content * {
	margin: 0;
	padding: 0;
}

.product-card .card-title {
	font-size: 1.5rem;
}

.product-card .card-action {
	padding: .5rem 1rem;
}


.input-field {
	position: relative;
	margin-top: 1rem;
}

.input-field.col label {
	position: absolute;
	top: -1rem;
	font-size: 1rem;
	cursor: text;
	left: 0.75rem;
	font-size: 0.8rem;
	color: #888;
}

.input-field.file-field label {
	border: none;
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	padding: 0 2rem;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	cursor: pointer;
}

input, textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	width: 100%;
	font-size: 1.2rem;
	font-style: bold;
	margin: 0 0 1rem 0;
}

input[type=file] {
	display: none;
}

.btn {
	border: none;
	display: inline-block;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	cursor: pointer;
	padding: 0 2rem;
}

.btn, .btn-sized {
	height: 3rem;
	line-height: 3rem;
}

.btn:hover {
	background-color: #2bbbad;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}