.brand-logo{
	margin-left: 1em;
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.row{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row .col.s3 {
  width: 25%;
}

.row .col.s6 {
  width: 50%;
}

.row .col.s9 {
  width: 75%;
}

.row .col.s12 {
  width: 100%;
}

.input-field {
  position: relative;
  margin-top: 1rem;
}

.input-field label {
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}
