html {
	line-height: 1.5;
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
	box-sizing: border-box;

}

*, *:before, *:after {
	box-sizing: inherit;
}

.row::before,
.row::after {
	display: table;
	content: " ";
	clear: both;
}

.navbar-fixed {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
	margin-bottom: 20px;
	z-index: 999;
}

.navbar-fixed nav {
	position: fixed;
}

nav .nav-wrapper {
	position: relative;
	height: 100%;
}

nav {
	color: #fff;
	background-color: #81C784;
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	cursor: pointer;
	padding: 0;
}

nav ul a {
	color: #fff;
	padding: 0 15px;
	display: block;
	text-decoration: none;
	height: 100%;
	cursor: pointer;
}
nav ul li:hover {
	background-color: rgba(0,0,0,0.1);
}

.side-nav {
	top: 4.5rem;
	left: 0;
	position: fixed;
	width: 300px;
	height: 100%;
	
    margin: 0;
	padding-left: 0;
	padding-bottom: 60px;
	
    background-color: #fff;
    z-index: 999;
	box-shadow: 0 2px 2px 0;
}

.side-nav li {
	float: none;
	list-style-type: none;
	padding: 0 32px;
    line-height: 44px;
}

.side-nav li:hover {
	background-color: rgba(0,0,0,0.1);
}

.brand-logo{
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.0rem;
	padding: 0;
	white-space: nowrap;
	margin-left: 1em;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	margin-top: 50px;
	max-width: 1080px;
	width: 85%;
}

.container .row {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.row{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.row .col {
	float: left;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
}

.row .col.s3 {
	width: 25%;
}

.row .col.s6 {
	width: 50%;
}

.row .col.s9 {
	width: 75%;
}

.row .col.s12 {
	width: 100%;
}

.card {
	position: relative;
	margin: 1rem 0 1rem 0;
	background-color: #fff;
}

.card .card-title {
	font-size: 2rem;
	font-weight: 300;
}

.card .card-content .card-title {
	display: block;
	line-height: 3rem;
	margin-bottom: 1rem;
}

.card .card-content {
	padding: 2rem;
}

.card .card-action {
	position: relative;
	background-color: inherit;
	border-top: 1px solid #ddd;
	padding: 1rem 2rem;
}

.card .card-action a {
	color: #ffab40;
	margin-right: 2rem;
}

.card .card-action a:hover {
	color: #ffd8a6;
}

.input-field {
	position: relative;
	margin-top: 1rem;
}

.input-field.col label {
	position: absolute;
	top: -1rem;
	font-size: 1rem;
	cursor: text;
	left: 0.75rem;
	font-size: 0.8rem;
	color: #888;
}

.input-field.file-field label {
	border: none;
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	padding: 0 2rem;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	cursor: pointer;
}

input, textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	width: 100%;
	font-size: 1.2rem;
	font-style: bold;
	margin: 0 0 1rem 0;
}

input[type=file] {
	display: none;
}

.btn {
	border: none;
	display: inline-block;
	color: #fff;
	background-color: #26a69a;
	text-align: center;
	cursor: pointer;
	padding: 0 2rem;
}

.btn, .btn-sized {
	height: 3rem;
	line-height: 3rem;
}

.btn:hover {
	background-color: #2bbbad;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}